*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body{
    height: 100vh;
    overflow: hidden;
}
.email-main-container{
    background-color: #EFEFEF;
    height: 100vh;
    display: grid;
    place-content: center;
}
.email-whole-container{
    display: flex;
    flex-direction: row;
    height: 40em;
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 17px;
  background-color: #FFFFFF;
  @media (max-width:1200px){
    width: 90%; 
  }
  @media(max-width:700px){
    width: 100%;
    padding: 2em;
}
}
.email-image-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2em;
    width: 50%;
    @media (max-width:700px){
        display: none;
      } 
}
.email-img{
    height: 100%;
    width: 100%;
    margin-top: 5%;
    @media(max-width:1200px){
        margin-top: 20%;
    }
}
.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 3.3em;
    @media (max-width:700px){
        width: 100%;
      } 
}
.heading-section{
    margin-left: 2em;
    font-weight: 600;
    
    @media (max-width:700px){
        display: grid;
        place-content: center;
      }
}
.text-section-1{
    color: #505050;
    font-weight: 600;
    font-size: 2em;
    @media(max-width:1200px){
        font-size: 1.5em;
    }
    @media(max-width:700px){
        font-size: 1.7em;
    }
}
.text-section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    @media(max-width:1200px){
        font-size: 0.8em;
    }
    @media(max-width:700px){
        font-size: 0.8em;
    }
}
.sub-section-1{
    color: #3B3B3B;
    font-weight: 500;
    font-size: 1.4em;
    @media(max-width:1200px){
        font-size: 1.2em;
    }
}
.sub-section-2{
    color: #000000;
    font-weight: 600;
    font-size: 1.2em;
}
.text-section-3{
    display: flex;
    gap: 0.2em;
    font-size: 1.3em;
    @media(max-width:1200px){
        font-size: 1.1em;
    }
    @media(max-width:700px){
        font-size: 1em;
    }
}
.spam{
    color: #000000;
    font-weight: 600;
}
.resend-mail-btn{
    background-color: #2955B6;
    color:#FFFFFF;
    font-weight: 500;
    font-size: 1.3em;
    border-radius: 9.38px;
    padding: 0.4em 2.2em 0.4em 2.2em;
    @media(max-width:1200px){
        padding: 0.4em 2.1em 0.4em 2.1em;
        font-size: 1.1em;
    }
    @media(max-width:700px){
        padding: 0.4em 2em 0.4em 2em;
        font-size: 1em;
    }
}

.input-field{
    height: 50px;
    width:23em ;
    background-color: #F1F1F1;
    color:black;
    font-size: 1rem;
    border-radius: 7px;
    font-weight: 500;
    @media (max-width:1200px){
        width:17em;
      }
      @media (max-width:800px){
        width:15em;
      }
}
.verify-otp-btn{
    cursor: pointer;
}