*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body{
    height: 100vh;
}
$max-width: 1200px; 

.signup-main-container{
    background-color: #EFEFEF;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.signup-whole-container {
    display: flex;
    flex-direction: row;
    height: 43em;
  width: 100%; 
  max-width: $max-width; 
  margin: 0 auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 17px;

  @media (max-width:1200px){
    width: 90%; 
  }
}
.signup-details-container{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    gap:2rem;
    border-radius: 17px 0 0 17px;
    padding: 2em;
    width: 50%;
    @media (max-width:700px){
        width: 100%;
        border-radius:17px;
      } 
}
.container-heading{
    color: #3A3A3A;
    font-weight: 600;
    margin-left: 0.5em;
}
.signup-text{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 3em;
    @media (max-width:1000px){
        font-size: 2em;
      }
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}
.details-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}
.name-field, .email-field, .password-field, .confirm-password-field{
    background-color: #F1F1F1;
    border-radius: 7px;
    padding-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em;
input{
    border: none;
    outline: none;
}
input::placeholder{
    color:#343434E5;
}
.input-field{
    height: 50px;
    width:23em ;
    background-color: #F1F1F1;
    color:black;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 7px;
    @media (max-width:1200px){
        width:17em;
      }
      @media (max-width:800px){
        width:9em;
      }

}
}
.signup-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #2955B6;
    border-radius: 0 17px 17px 0;
    width: 50%;
    @media (max-width:700px){
        display: none;
      } 

    .image-container-heading{
        font-size: 2em;
        margin-top: 2em;
        font-weight: 600;
        @media (max-width:1200px){
            font-size:1.5em ;
          }
          
    }
    .image-container-text{
        font-size: 1.2em;
        @media (max-width:1200px){
            font-size:1em ;
          } 
    }
}
.signup-img{
    height: 100%;
    width: 100%;
}
.signup-btn{
    all: unset;
    background-color: #2955B6;
    cursor: pointer;
    padding: 0.5em 7em 0.5em 7em;
    border-radius: 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.3rem;
    @media (max-width:1200px){
        padding: 0.5em 3em 0.5em 3em;
      }
      @media (max-width:700px){
        padding:1em 2em 1em 2em;
        font-size: 1rem;
      }
}
.log-text{
    text-decoration: none;
    color: #3563C9;
}